.logincontent {
  margin: 0 auto;
  height: 100%;
  width: 900px;
  background-color: #7464bc;
  border-radius: 10px;
}

.registercontent {
  width: 900px;
  height: 100%;
  margin: 0 auto;
  background-color: #7464bc;
  border-radius: 10px;
  text-align: center;
}

.logintop {
  height: 120px;
  width: 900px;
  background-color: #360568;
  color: #ffffff;
  padding-top: 35px;
}

.registertop {
  height: 120px;
  background-color: #360568;
  color: #ffffff;
  padding-top: 35px;
}

.textbox {
  padding: 10px 40px;
  background-color: #360568;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

::placeholder {
  color: #ffffff;
  opacity: 0.7;
  font-style: oblique;
  font-weight: bold;
}

.btn {
  width: 28%;
  padding: 10px;
  background-color: #360568;
  color: #ffffff;
  font-weight: bold;
  border-radius: 10px;
  margin-top: 20px;
}

.worddark {
  color: #360568;
  font-style: oblique;
  font-weight: bold;
  margin-top: 15px;
}

.wordlight {
  color: #ffffff;
  font-style: oblique;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}

.one {
  display: flex;
  position: relative;
}

.one .two {
  width: 225px;
  height: 100%;
  background: #7464bc;
  padding: 30px 0px;
  position: fixed;
}

.one .two h1 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  font-style: oblique;
  font-weight: bold;
  margin-top: 30px;
}

.one .two h2 {
  color: #fff;
  text-align: center;
}

.one .two .active {
  background: #360568;
}

.one .two ul li {
  text-align: center;
  padding: 15px;
  border-bottom: 0.1px solid white;
  border-top: 0.1px solid white;
}

.one .two ul li a {
  color: #ffffff;
  display: block;
}

.one .two ul li a .side {
  width: 25px;
  align: center;
}
body {
    background-color: #ded9ee;
}
.one .content {
  width: 100%;
  margin-left: 200px;
}

.one .content .topbar {
  text-align: center;
  padding: 20px;
  background: #360568;
  color: white;
}

.one .content .contentbar {
  margin: auto;
}

.one .content .contentbar h1 {
  color: #360568;
  text-align: center;
  /* font-style: oblique; */
  font-weight: bold;
}

table {
    width: 50%;
  }
  
  table td {
    padding: 10px;
    border: 1px solid #360568;
  }


.registerbottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, auto);
  gap: 10px;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
}

.registerbottom input[type="text"],
.registerbottom input[type="password"],
.registerbottom input[type="email"] {
  width: 100%;
  padding: 10px;
  background-color: #360568;
  color: #ffffff;
  border-radius: 10px;
}


@media (min-width: 769px) and (max-width: 1300px) {

    .logincontent {
        margin: 0 auto;
        height: 100%;
        width: 600px;
        background-color: #7464bc;
        border-radius: 10px;
      }
      
      .registercontent {
        width: 700px;
        height: 100%;
        margin: 0 auto;
        background-color: #7464bc;
        border-radius: 10px;
        text-align: center;
        
      }
      
      .logintop {
        height: 120px;
        width: 600px;
        background-color: #360568;
        color: #ffffff;
        padding-top: 35px;
      }
      
      .registertop {
        height: 120px;
        background-color: #360568;
        color: #ffffff;
        padding-top: 35px;
      }
      
      .textbox {
        padding: 10px 40px;
        background-color: #360568;
        border-radius: 10px;
        color: white;
        font-weight: bold;
      }
      
      ::placeholder {
        color: #ffffff;
        opacity: 0.7;
        font-style: oblique;
        font-weight: bold;
      }
      
      .btn {
        width: 41%;
        padding: 10px;
        background-color: #360568;
        color: #ffffff;
        font-weight: bold;
        border-radius: 10px;
        margin-top: 20px;
      }
      
      .worddark {
        color: #360568;
        font-style: oblique;
        font-weight: bold;
        margin-top: 15px;
      }
      
      .wordlight {
        color: #ffffff;
        font-style: oblique;
        font-weight: bold;
      }
      
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
        font-family: "Josefin Sans", sans-serif;
      }
      
      .one {
        display: flex;
        position: relative;
      }
      
      .one .two {
        width: 225px;
        height: 100%;
        background: #7464bc;
        padding: 30px 0px;
        position: fixed;
      }
      
      .one .two h1 {
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 30px;
        font-style: oblique;
        font-weight: bold;
        margin-top: 30px;
      }
      
      .one .two h2 {
        color: #fff;
        text-align: center;
      }
      
      .one .two .active {
        background: #360568;
      }
      
      .one .two ul li {
        text-align: center;
        padding: 15px;
        border-bottom: 0.1px solid white;
        border-top: 0.1px solid white;
      }
      
      .one .two ul li a {
        color: #ffffff;
        display: block;
      }
      
      .one .two ul li a .side {
        width: 25px;
        align: center;
      }
      
      .one .content {
        width: 100%;
        margin-left: 200px;
      }
      
      .one .content .topbar {
        text-align: center;
        padding: 20px;
        background: #360568;
        color: white;
      }
      
      .one .content .contentbar {
        margin: auto;
      }
      
      .one .content .contentbar h1 {
        color: #360568;
        text-align: center;
        /* font-style: oblique; */
        font-weight: bold;
      }
      
      
      .registerbottom {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, auto);
        gap: 10px;
        margin-top: 50px;
        margin-left: 30px;
        margin-right: 30px;
      }
      
      .registerbottom input[type="text"],
      .registerbottom input[type="password"],
      .registerbottom input[type="email"] {
        width: 100%;
        padding: 10px;
        background-color: #360568;
        color: #ffffff;
        border-radius: 10px;
      }

}

@media (max-width: 768px) {

    .logincontent {
        margin: 0 auto;
        height: 100%;
        width: 100%;
        background-color: #7464bc;
        border-radius: 10px;
      }
      
      .registercontent {
        width: 700px;
        height: 100%;
        margin: 0 auto;
        background-color: #7464bc;
        border-radius: 10px;
        text-align: center;
      }
      
      .logintop {
        height: 120px;
        width: 400px;
        background-color: #360568;
        color: #ffffff;
        padding-top: 35px;
        width: 100%;
      }
      
      .registertop {
        height: 120px;
        background-color: #360568;
        color: #ffffff;
        padding-top: 35px;
        width: 100%;
      }
      
      .textbox {
        padding: 10px 40px;
        background-color: #360568;
        border-radius: 10px;
        color: white;
        font-weight: bold;
      }
      
      ::placeholder {
        color: #ffffff;
        opacity: 0.7;
        font-style: oblique;
        font-weight: bold;
      }
      
      .btn {
        width: 30%;
        padding: 10px;
        background-color: #360568;
        color: #ffffff;
        font-weight: bold;
        border-radius: 10px;
        margin-top: 20px;
      }
      
      .worddark {
        color: #360568;
        font-style: oblique;
        font-weight: bold;
        margin-top: 15px;
      }
      
      .wordlight {
        color: #ffffff;
        font-style: oblique;
        font-weight: bold;
      }
      
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
        font-family: "Josefin Sans", sans-serif;
      }
      
      .one {
        display: flex;
        position: relative;
      }
      
      .one .two {
        width: 225px;
        height: 100%;
        background: #7464bc;
        padding: 30px 0px;
        position: fixed;
      }
      
      .one .two h1 {
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 30px;
        font-style: oblique;
        font-weight: bold;
      }
      
      .one .two h2 {
        color: #fff;
        text-align: center;
      }
      
      .one .two .active {
        background: #360568;
      }
      
      .one .two ul li {
        text-align: center;
        padding: 15px;
        border-bottom: 0.1px solid white;
        border-top: 0.1px solid white;
      }
      
      .one .two ul li a {
        color: #ffffff;
        display: block;
      }
      
      .one .two ul li a .side {
        width: 25px;
        align: center;
      }
      
      .one .content {
        width: 100%;
        margin-left: 200px;
      }
      
      .one .content .topbar {
        text-align: center;
        padding: 20px;
        background: #360568;
        color: white;
      }
      
      .one .content .contentbar {
        margin: auto;
      }
      
      .one .content .contentbar h1 {
        color: #360568;
        text-align: center;
        /* font-style: oblique; */
        font-weight: bold;
      }
      
      
      .registerbottom {
        grid-template-columns: 1fr;
      }
      
      .registerbottom input[type="text"],
      .registerbottom input[type="password"],
      .registerbottom input[type="email"] {
        width: 100%;
        padding: 10px;
        background-color: #360568;
        color: #ffffff;
        border-radius: 10px;
      }

      .loginbottom{
        margin-top: 70px;
      }
}
